@font-face {
    font-family: "Inspiration-Regular";
    src: url("Inspiration-Regular.ttf");
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: background 0.5s linear;
}

:root {
    --theme-color: rgb(121, 51, 151);
    --theme-color: rgb(65, 141, 159);
    --theme-color-light: rgb(159, 46, 207);
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 12px;
    }
}

a:active {
    color: red;
}

.animated {
    animation-duration: 4s;
}

body#light {
    font-family: "Nunito", sans-serif;
    --bg: rgb(252, 244, 255);
    background: white;
    --color: black;
    --bg-op: rgb(23, 21, 26);
    --color-op: white;
    --bg-pop: black;
}

body#dark {
    font-family: "Nunito", sans-serif;
    --bg: rgb(23, 21, 26);
    background: white;
    --bg-pop: white;
    --bg-op: rgb(252, 244, 255);
    --color-op: black;
    --color: white;
}

#day-night {
    position: absolute;
    width: 40px;
    height: 30px;
    border-radius: 12px;
    border: 1px solid var(--bg-pop);
    background: var(--bg);
    color: var(--color);
    right: 50px;
    z-index: 9999;
    top: 4px;
}

body#light #day-night .bi-moon {
    display: none;
}

body#dark #day-night .bi-lightbulb {
    display: none;
}

*::-webkit-scrollbar-thumb {
    width: 5px;
    background: white;
}

*::-webkit-scrollbar {
    width: 8px;
}

#navbar-nav {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    bottom: 8px;
}

#navbar-nav ul {
    display: flex;
    background: var(--bg);
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    border-radius: 6px;
    height: 40px;
    opacity: 0.6;
    width: 300px;
    list-style: none;
    align-items: center;
    transition: all 0.2s linear;
    justify-content: space-around;
}

#navbar-nav ul:hover {
    opacity: 1;
    transition: all 0.2s linear;
}

#navbar-nav li {
    margin: 0px 8px;
}

#flag {
    font-size: 26px;
    padding-left: 20px;
    background: var(--bg);
    display: flex;
    color: var(--color);
    z-index: 100;
}

#flag #d {
    margin-right: 8px;
}

#flag #r {
    padding-left: 8px;
    border-left: 2px solid var(--theme-color);
}

@media screen and (max-width: 500px) {
    #flag {
        width: 50px;
        height: 50px;
        padding: 4px 0px;
        font-size: 1.2rem;
        padding-left: 12px;
    }

    #flag #d {
        margin-right: 2px;
    }

    #flag #r {
        padding-left: 2px;
    }

    #day-night {
        top: 8px;
        right: 8px;
        height: 24px;
        font-size: 1.1rem;
        width: 32px;
    }

    #navbar-nav {
        bottom: 4px;
    }

    #navbar-nav ul {
        width: 96vw;
        opacity: 0.7;
        height: 46px;
        font-size: 1.2rem;
    }
}

.hr {
    animation: opac 6s ease-out forwards;
}

@keyframes opac {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/********* TOP **********/

h1 {
    font-weight: bolder;
}

.top {
    min-height: 600px;
    width: 100vw;
    margin: 0px auto;
    background: var(--bg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color: var(--color);
    padding-top: 8px;
    display: flex;
    justify-content: center;
}

#developer {
    width: 140px;
    height: 260px;
    border-radius: none;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.top h3 {
    position: fixed;
    top: 0px;
    left: 12px;
    height: 80px;
    width: 100px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px;
}

.top > h3 span {
    text-align: center;
    padding-top: 12px;
}

.top > div {
    width: 764px;
    position: relative;
}

#socials {
    height: 140px;
    position: absolute;
    bottom: 16px;
    left: 12px;
}

#socials ul {
    list-style: none;
    height: 100%;
    color: var(--theme-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#socials ul li:hover {
    color: var(--color);
    transition: all 0.2s linear;
}

.top #intro {
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 60px;
    padding: 12px;
    font-family: Inspiration-Regular;
}

#intro h1 {
    display: inline;
    font-family: "Times New Roman", Times, serif;
}

.top div button {
    height: 60px;
    width: 150px;
    text-align: center;
    background: var(--theme-color);
    margin: 26px auto;
    color: white;
    border-radius: 4px;
}

.top button:hover {
    background: none;
    box-shadow: inset 0px 0px 4px var(--bg-pop);
    transition: all 0.2s linear;
}

#btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btns a {
    width: 150px;
}

#btns button {
    border-radius: 0px;
}

#btns #one {
    background: none;
    color: var(--color);
    border: 1px solid var(--bg-pop);
}

@media screen and (max-width: 600px) {
    .top > div button {
        height: 40px;
        font-size: 0.8rem;
        width: 100px;
    }

    #socials ul {
        height: 100px;
    }
    #socials i {
        font-size: 0.8rem;
    }
}

/********* ABOUT **********/

#about {
    min-height: 100vh;
    width: 100%;
    color: var(--color);
    padding: 0px 20%;
    padding-top: 100px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    background: var(--bg);
}

#about-bottom {
    margin: 40px 0px;
    padding: 20px;
}

#about-bottom ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#about-bottom ul li {
    display: flex;
    margin: 10px;
    width: 400px;
    flex-wrap: wrap;
    text-align: right;
}

#about-bottom ul li i {
    font-size: 50px;
    margin: 8px;
}

#about-bottom ul li i,
#about-bottom ul li h2 {
    font-size: 26px;
    margin: 8px;
    font-weight: 600;
}

#about-left button {
    height: 46px;
    margin-top: 16px;
    width: 120px;
    text-align: center;
    background: black;
    color: white;
}

#about-left hr {
    height: 5px;
    background: rgb(255, 94, 0);
    margin: 12px 0px;
}

@media screen and (max-width: 764px) {
    #about {
        padding: 0px;
        padding-top: 100px;
    }
}

#about-summary {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    min-height: 400px;
    margin-bottom: 20px;
}

#about-summary button {
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    color: inherit;
    margin: 12px 40px;
    border: 1px solid var(--bg-pop);
}

#about-summary li {
    margin: 8px 4px;
    padding: 8px;
    border-bottom: var(--theme-color) solid 1px;
}

#about-littles ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    width: max-content;
}

#about-littles li {
    border: 1px solid var(--bg-pop);
    margin: 0px 12px 16px;
    min-width: 200px;
    max-width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    flex-grow: 1;
    text-align: center;
}

#about-left {
    width: 600px;
    padding: 20px;
    display: inline;
}

#about-me {
    padding-top: 50px;
}

#about-me button {
    border: 1px solid var(--bg-pop);
    border-radius: 4px;
    padding: 8px;
    float: right;
}

#about-img {
    border-radius: 6px;
    width: 180px;
    margin: 20px 2%;
    height: 180px;
    float: left;
}

/********* WORKS **********/

#works {
    background: var(--bg);
    padding-top: 50px;
    color: var(--color);
    min-height: 100vh;
    padding-bottom: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#all-works li.hide {
    display: none;
}

#all-works li {
    width: 240px;
}

#all-works p {
    font-size: 0.92rem;
}

#works > div {
    width: 764px;
}

#works-nav {
    margin: auto;
    display: flex;
    padding-top: 20px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#works-nav button {
    height: 30px;
    cursor: pointer;
    margin: 0px 16px;
    width: 100px;
    margin-bottom: 16px;
}

#works > div > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

#works > ul li {
    width: 220px;
    min-height: 250px;
    margin: 12px;
}

#works img {
    height: 200px;
    border: solid 2px var(--bg-pop);
    width: 200px;
    margin: 12px;
}

#works li {
    text-align: center;
}

#works > div > a > button {
    height: 40px;
    width: 140px;
    text-align: center;
    color: var(--color);
    background: none;
    border: 1px solid var(--bg-pop);
    margin-top: 50px;
    cursor: pointer;
}

/********* SKILLS **********/

#skills {
    padding: 16px;
    padding-top: 50px;
    background: var(--bg);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#skills > div {
    width: 1200px;
}

#skill_categories {
    margin: 20px 4px;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: disc;
    padding: 0px 16px;
}

#skill_categories > li {
    min-height: 320px;
    border-radius: 4px;
    padding: 8px;
    background: var(--bg-op);
    color: var(--color-op);
    margin: 40px 8px;
    min-width: 300px;
    max-width: 300px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}

.skills i {
    font-size: 14px;
    margin-right: 12px;
    color: var(--theme-color);
}

.skills progress {
    color: var(--theme-color);
    height: 4px;
    width: 100px;
    border-radius: 4px;
}

.skills li {
    width: 50%;
    flex-grow: 1;
    padding: 4px;
    margin: 8px 0px;
}

.listing {
    text-align: left;
    margin : 6px;
    gap : .5rem;
    display : flex;
    flex-direction: column;
}

/********* TESTIMONIALS **********/
#testimonials h1,
#services h1,
#contact h1 {
    text-align: center;
    margin: 16px auto;
}

#testimonials {
    margin: 40px auto;
    padding: 10px;
    width : 70vw;
    background-image: url("../images/developer.jpg')");
    background-attachment: fixed;
    background-size: cover;
    color: var(--theme-color);
}

#testimonials h5 {
    text-align: center;
}

#testimonials ul {
    list-style: none;
    width : max-content;
}

#testimonials li {
    width: 300px;
    height: 320px;
    border-radius : 4px;
    background: rgba(255, 255, 255, 0.788);
    box-shadow: 0px 0px 8px #6b7280;
    margin: 8px 16px;
    padding: 16px;
}

@media screen and (max-width : 600px) {
    #testimonials {
        width : 100vw;
    }
}

/********* SERVICES **********/

#services {
    padding: 16px 40px;
    min-height: 100vh;
    padding-bottom : 350px;
    color: var(--color);
    background: var(--bg);
    display: flex;
    justify-content: center;
    position : relative;
    text-align: center;
}

#services > form {
    position : absolute;
    bottom : 8px;
    width : 300px;
    display : flex;
    flex-direction : column;
    gap : 1.2rem;
    align-items : center;
    padding : 12px;
}

#services > form > input {
    width : 300px;
    height : 48px;
    border-radius : 4px;
}

#services > form > button {
    padding : .6rem 1rem;
    width : max-content;
    background : white;
    cursor : pointer;
    transition : all .4s linear;
    color : black;
}

#services > div {
    min-width: 400px;
    max-width: 400px;
}

#services > form > button:hover {
    background : var(--bg);
    color : white;
}

#services ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#services li {
    margin: auto;
    width: 100%;
    position: relative;
}

#services li > div.desc {
    width: 180px;
    min-height: 30px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid var(--bg-pop);
}

#services h3 {
    display: inline;
}

#services li.left > div.desc::before {
    content: "";
    width: 2px;
    background: var(--bg-pop);
    position: absolute;
    height: 100%;
    left: calc(50% - 2px);
    top: 0px;
}

#services li.right > div.desc::after {
    content: "";
    width: 2px;
    background: var(--bg-pop);
    position: absolute;
    height: 100%;
    top: 0px;
    right: 50%;
}

#services .service__summary {
    display: none;
    transform: scaleY(0.8);
    transition: all 0.2s linear;
}

#services li > div:hover .service__summary {
    display: block;
    transform: scaleY(1);
}

#services .left {
    display: flex;
    justify-content: flex-end;
}

#services .right {
    display: flex;
    justify-content: start;
}

#services .service__summary button {
    height: 26px;
    text-align: center;
    padding: 2px 4px;
    background: none;
    color: var(--color);
    border: 1px solid var(--bg-pop);
    margin: 4px;
    border-radius: 6px;
}

#services .service__modal {
    display: none;
    height: 98vh;
    width: 98vw;
    position: fixed;
    top: 0.5vh;
    left: 0.5vw;
    z-index: 999999;
    background: rgba(145, 144, 144, 0.103);
}

#services .service__modal.show {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services .service__content {
    width: 400px;
    min-height: 420px;
    background: var(--bg);
    border-radius: 6px;
    position: relative;
    padding: 8px;
}

#services .service__content .bi-x {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 1.5rem;
}

.service__content > ul {
    text-align: left;
}

.service__content div {
    display: flex;
}

.service__content div > i {
    font-size: 0.8rem;
    padding-top: 2px;
    margin-right: 8px;
}

.service__content li > ul {
    margin-left: 32px;
}

@media screen and (max-width: 450px) {
    #services .left,
    #services .right {
        justify-content: center;
    }

    #services div::before,
    #services div::after {
        display: none;
    }

    #services .service__summary {
        display: block;
        transform: scaleY(1);
    }
}
/********* CONTACT **********/

#contact {
    margin: 16px auto;
    padding-left: 20px;
    line-height: 2.2rem;
    text-align: center;
    display: flex;
    min-height: max-content;
    justify-content: center;
}

#contact > div {
    width: 764px;
    overflow-y: visible;
    min-height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#contact > div > div {
    width: 200px;
}

#contact li {
    padding-bottom: 20px;
    width: 200px;
    border-bottom: 1px solid var(--theme-color);
}

#contact form {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    flex-direction: column;
    box-shadow: inset 0px 0px 4px gray;
}

#contact form > *:not(p, button) {
    height: 40px;
    width: 120px;
    box-shadow: 0px 0px 4px #2d3748;
    padding: 20px;
}

#contact form textarea {
    height: 180px;
    width: 180px;
}

*::placeholder {
    text-align: center;
}

#contact form button {
    padding : .4rem 1rem;
    border-radius : 4px;
    background : black;
    color : white;
}